@charset "ISO-8859-1";

@charset "utf-8";

body {
	background-color: lightblue;
}

button {
	color: red;
	background-color: black;
}

#anfang {
	position: absolute;
	top: 480px;
}


h2 {
	color:red;
}

#score {
	margin-left:330px;
	position:absolute;
}

#textbox {
	margin-bottom:20px;
	}
	
	#abgabe {
	margin-bottom:30px;
}