@charset "utf-8";

body {
	background-color: lightgreen;
}

fieldset {
	background-color: red;
	width: 700px;
	border-color: darkgreen;
	color:white;
}

#div {
	top: 10px;
	right: 250px;
	width: 250px;
	position: absolute;
}

.text {
	color: darkgreen;
}

#button {
	background-color: red;
	border-radius: 10px;
	border-color: darkred;
}