@charset "utf-8";

body {
	float: right;
}

#Aufnahme {
	position: absolute;
	background-color: black;
	color: yellow;
	text-align: center;
	border: "thin solid black";
	height: 200px;
	width: 135px;
	margin-right: 200px;
	border-radius: 10px;
	left: 10px;
	font-size: 1.5em;
	text-decoration: underline;
}

#Ablage {
	position: absolute;
	background-color: black;
	color: yellow;
	text-align: center;
	border: "thin solid black";
	height: 200px;
	width: 135px;
	margin-right: 200px;
	border-radius: 10px;
	font-size: 1.5em;
	left: 200px;
	text-decoration: underline;
}